<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="{% static 'css/vault_reg.css'%}" >
    
</head>
<body>
    <div class="main">
        <img src="{% static 'images/background.jpg' %}">
    
        <div class="sub">
        <div class="logbox">
            <form action="../register" method="POST">
                {% csrf_token %}
            <p class="head">REGISTER</p>
            <input type="text" placeholder="enter your username" id="" name="uname"><br>
            <input type="email" placeholder="email" id="" name="email"><br>
            <input type="password" placeholder="password" name="password" id=""><br>
            <input type="password" placeholder="confirm password" name="cnf_password" id=""><br>
            <input type="submit" value="register" class="button" style="background-color:black;color:white"><br>
            
            <p style="text-align:center">Already have an account ? <a href="../">Login</a></p>
        </form>
        </div>
           </div>
        </div>
</body>
</html>